<div>
    <form [formGroup]="form">
        <div class="p-3 mt-4 bg-opacity-10 border border-black border-start-0 border-end-0 text-center">
            <i class="float-start bi bi-floppy-fill fs-5 me-2" style="cursor: pointer; margin-top: -4px" (click)="create(form)"></i>
            <i class="float-start bi bi-trash-fill fs-4" style="cursor: pointer; margin-top: -6px" (click)="delete()"></i>
            <p class="m-0">Consulta de Produto</p>
        </div>

        <div class="container-fluid ps-5">
            <div class="mt-4 row">
                <div class="col-md-2">
                    <label for="id" class="form-label">*Código</label>
                    <input type="text" class="form-control mb-3" id="id" formControlName="id" readonly>
                </div>
                <div class="col-md-3">
                    <label for="description" class="form-label">*Descrição</label>
                    <input type="text" class="form-control mb-3" id="description" formControlName="description" placeholder="Ex: Manga">
                </div>
                <div class="col-md-2">
                    <label for="cost" class="form-label col">Custo (R$)</label>
                    <input type="text" class="form-control mb-3" id="cost" inputmode="none" formControlName="cost" placeholder="9,999">    
                </div>
    
                <div class="col-md-4">
                    <label class="form-label" for="customFile col">Imagem</label>
                    <div class="input-group border">
                        <!-- <img [src]="'data:image/jpeg;base64,' + base64Image" alt="Imagem"> -->
                        <input type="file" class="form-control" id="customFile" accept=".png, .jpg, .jpeg" (change)="onFileSelected($event)" />
                        <button type="button" class="btn-close" style="align-self: center;" (click)="removeImage()" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="container-fluid ps-5">
        <div class="mt-4 row">
            <div class="col-9">
                <table class="table table-bordered table-hover border-black text-center">
                    <thead>
                        <tr>
                          <th scope="col" style="min-width: 80px;">
                            <i class="float-start bi bi-plus-circle fs-4" style="cursor: pointer;" (click)="openModal()"></i>
                            <p class="mt-1 mb-0">Loja</p>
                        </th>
                          <th scope="col"><p class="mb-1 mt-0">Preço de Venda (R$)</p></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let sps of storePriceSale">
                            <td>{{ sps.description }}</td>
                            <td>{{ sps.priceSale }} 
                                <i class="float-end bi bi-pencil-fill p-1" style="cursor: pointer;" (click)="editPriceSale(sps)"></i>
                                <i class="float-end bi bi-trash-fill p-1" style="cursor: pointer;" (click)="removePriceSale(sps.id)"></i>
                            </td>  
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="formStorePrice">
            <div class="modal-header d-block">
                <h1 class="modal-title fs-5 text-center" id="modalLabel"> 
                    <i class="float-start bi bi-floppy-fill" style="cursor: pointer;" (click)="addStorePriceSale(formStorePrice, editStorePriceSale)"></i>
                    Alteração/Inclusão de Preço
                    <button type="button" class="btn-close float-end" (click)="closeModal()" aria-label="Close"></button>
                </h1>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <label for="store" class="form-label">*Loja</label>
                    <div class="form-floating">
                        <select class="form-select" id="store" formControlName="selectedStore">
                            <option selected></option>
                            <option *ngFor="let store of stores" [value]="store.id">{{ store.description }}</option>
                        </select>
                    </div>
                    <label for="price-sale" class="form-label mt-4">*Preço de Venda (R$)</label>
                    <input type="text" class="form-control mb-4" id="price-sale" inputmode="none" formControlName="priceSale" placeholder="9,999">
                </div>
            </div>
        </form>
    </div>
</div>