<div>
    <div class="mt-4 p-3 bg-opacity-10 border border-black border-start-0 text-center">
        <i class="float-start bi bi-plus-circle fs-4" (click)="registerProduct()"></i>
        Consulta de Produto
    </div>

    <div class="mt-4">
        <label for="code" class="form-label">Código</label>
        <input type="text" class="form-control" id="code">

        <label for="description" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="description">

        <label for="coast" class="form-label">Custo (R$)</label>
        <input type="text" class="form-control" id="coast">

        <label for="price-sale" class="form-label">Preço de Venda</label>
        <input type="text" class="form-control" id="price-sale">
    </div>

    <div class="mt-4">
        <table class="table table-bordered table-hover border-black text-center">
            <thead>
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Custo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.cost }} 
                        <i class="float-end bi bi-pencil-fill p-1"></i>
                        <i class="float-end bi bi-trash-fill p-1"></i>
                    </td>  
                </tr>
              </tbody>
        </table>
    </div>
</div>

